body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #ECEAFF;
}

.chat-container {
    width: 100%;
    max-width: 420px;
    margin: 40px auto;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0px 0px 18px rgba(0,0,0,0.1);
    overflow: hidden;
}

.header {
    background: #7F58E6;
    padding: 15px;
    display: flex;
    align-items: center;
    color: #fff;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.chat-box {
    height: 450px;
    overflow-y: auto;
    padding: 12px;
    background: #F7F7FA;
}

.message {
    padding: 10px 14px;
    margin: 8px 0;
    max-width: 75%;
    border-radius: 14px;
    font-size: 15px;
    line-height: 1.4;
}

.user {
    background: #7F58E6;
    color: white;
    margin-left: auto;
}

.bot {
    background: #EDEAFF;
    color: #333;
    margin-right: auto;
}

.input-area {
    display: flex;
    padding: 12px;
    border-top: 1px solid #ddd;
    background: #fff;
}

#userInput {
    flex: 1;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #bbb;
    outline: none;
}

button {
    margin-left: 10px;
    padding: 12px 20px;
    background: #7F58E6;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
